<h4>Contenido</h4>
<ul class="small">
    <li>
        <a href="/posts/2018-06-08/arquitectura-codigo-nodejs.html">Introducción</a>
    </li>
    <li>
        <a href="/posts/2018-06-08/arquitectura-codigo-nodejs/parte-i-arquitectura-codigo.html">Parte I: Teoría de arquitectura de código</a>
    </li>
    <li>
        <a href="/posts/2018-06-08/arquitectura-codigo-nodejs/parte-ii-aplicando-teoria.html">Parte II: Aplicando la teoría</a>
    </li>
    <li>
        <a href="/posts/2018-06-08/arquitectura-codigo-nodejs/parte-iii-tests-automaticos.html">Parte III: Tests automáticos</a>
    </li>
</ul>

<h4>Feedback</h4>
<p class="small">Si tienes cualquier comentario, duda o crítica constructiva puedes dejar un comentario <a href="">en este hilo</a> de Twitter. </p>

{{ include.append }}